<form name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
  <input type="text" name="username" class="form-control" [(ngModel)]="model.username"
   #username="ngModel" [ngClass]="{ 'is-invalid': f.submitted && username.invalid }" 
   placeholder="Username" required>

   <input type="password" name="password" class="form-control" [(ngModel)]="model.password"
   #password="ngModel" [ngClass]="{ 'is-invalid': f.submitted && password.invalid }" 
   placeholder="Password" required>

   <div class="checkbox mb-3">
    <label>
      <input type="checkbox" name="remember" [(ngModel)]="model.remember"> Remember me
    </label>
  </div>

  <button [disabled]="loading" class="btn btn-lg btn-primary btn-block">
      <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
      Sign in
  </button>
  <div *ngIf="error" class="alert alert-danger mt-3 mb-0">{{error}}</div>
</form>